Cython
numpy
tqdm
pathlib
git+https://github.com/dwgoon/jpegio
catalyst==20.5.1
albumentations==0.4.5
timm==0.3.2
catboost
scikit-optimize
# cv2
# horovod==0.19.1
# tensorflow
oct2py
scipy
pandas
efficientnet_pytorch==0.7.1
sklearn
torch==1.12.1+cu116
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu116torchvision