<!doctype html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<!--<html lang="en"-->
<head>
    <title>Image Stegnography Detection</title>
</head>
<body>
    <div class="detection">
        <h1 style="text-align: center;">Image Steganography Detection</h1>
		<h4 style="text-align: center;">'Predict' only works for JPG images, 'LSB decoder' only works for PNG images</h4>
		<form action="/predict" method="POST" enctype="multipart/form-data" >
			<fieldset>
				<legend>Input values </legend>
				<label for = "file">upload: one or two images</label>
				<input id="file" name = "file" type= "file" accept="image/jpeg,image/png" multiple/>
				<label for="folder">folder</label>
				<input type="text" id="folder" name="folder" >
				<br>
			</fieldset>

			<br>
			<button type='submit' formaction="/exif">only to check EXIF</button>
			<button type="submit" formaction='/lsb' value='LSB' class="btn btn-primary btn-block btn-large">LSB decoder</button>

			<br>
			<br>


			<label for="subset">subset</label>
				<select id="subset" name="subset" required="required">
					<option value="3Algorithms" selected>3Algorithms</option>
					<option value="for_nsf5">nsf5</option>
				</select>
				<br>
			<label for="device">device</label>
				<select id="device" name="device" required="required">
						<option value="cuda:0">GPU</option>
						<option value="cpu" selected>CPU</option>
					</select>
					<br>
			<label for="test_single_image">only test single image?</label>
				<select id="test_single_image" name="test_single_image" required="required">
					<option value=True selected>yes</option>
					<option value=False>no, I am testing a folder of images</option>

    		</select>
    		<br>
    		<label for="num_workers">num_workers</label>
    		<select id="num_workers" name="num_workers" required="required">
      			<option value="1" selected>1</option>
      			<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
    		</select>
    		<br>
    		<label for="batch_size">Batch_size</label>
    		<select id="batch_size" name="batch_size" required="required">
      			<option value=8>8</option>
				<option value=10 selected>10</option>
      			<option value=12>12</option>
				<option value=16>16</option>
    		</select>
    		<br>

			<button type="reset" value="reset" class="btn btn-primary btn-block btn-large" >Reset</button>
        	<button type="submit" value='Submit' class="btn btn-primary btn-block btn-large">Predict</button>

        <br>
		</form>
		<h3> {{ exif }}</h3>
		<h3>{{ message }}</h3>
       <h3>{{ prediction_text }}</h3>
    </div>

</body>
</html>
